body {
    font-family: "Montserrat", sans-serif;
    padding-top: 90px;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.navlist {
    display: flex;
    list-style: none;
    padding: 0 10px;
    background-color: #efeee9;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navlist li {
    border: 2px solid #efeee9;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: 5px;
    padding: 8px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.navlist li.active,
.navlist a.active {
    transform: scale(1.1);
    background-color: #ca9335;
    color: #efeee9;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(202, 147, 53, 0.3);
}

.navlist a:hover,
.navlist li:hover {
    transform: scale(1.1);
    background-color: #ca9335;
    color: #efeee9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(202, 147, 53, 0.3);
}

.navlist a {
    text-decoration: none;
    color: #ca9335;
    transition: all 0.3s ease; 
}

/* ----------SECTIONS---------- */
.container{
    display: flex;
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

/* ----------LEFT---------- */

.left{
    position: fixed;
    flex: 0 0 30%;
    max-width: 30%;
    /* border: 2px solid  #ca9335; */
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.left .card{
    position: relative;
    background-image: url('pfp_bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 10px;
    max-width: 400px;
    min-height: 300px;
    text-align: center;
    border-radius: 15px;

    h1{
        color: #ca9335;
    }

    p{
        color: #5f410d;
    }
    
}

.pfp{
    min-width: 100px;
}

.pfp img{
    border-radius: 5px;
    max-width: 80%;
    margin: 20px;
}

.description{
    padding: 14px 20px;
    margin-top: -20px;
}

.icons{
    margin: 20px;
    font-size: 25px;
    min-width: 10px;

    a{
        text-decoration: none;
    }

}

/* ----------RIGHT---------- */

.right{
    scroll-margin-top: 100px;
    flex: 1;
    /* border: 2px solid #ca9335; */
    margin-left: 35%;
}

.right{
    .title h1{
        color: #ca9335;
        font-size: 80px;
        margin-top: -10px;
        margin-bottom: 50px;
    }

    h3{
        color: #ca9335;
        font-size: 50px;
        margin-bottom: -10px;
    }
    p{
        color: #5f410d;
    }
}

.time{
    display: flex;
    gap: 40px;
}

/* ----------EXPERTIES---------- */
.experties{
    scroll-margin-top: 100px;
}

.experties h1{
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 50px;
    color: #ca9335;
}

.experties h4{
    color: #ca9335;
    font-size: 20px;
    font-weight: bold;
}

.experties > .items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* .items > div{
    text-align: center;
} */

/* ----------PROJECTS---------- */
.projects{
    scroll-margin-top: 100px;
}

.projects h1{
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 50px;
    color: #ca9335;
}

.projects h4{
    color: #ca9335;
    font-size: 20px;
    font-weight: bold;
}

.projects .cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-item{
    background-color: #efeee9;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-out, border 0.2s ease;
    box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.19);
    border: 2px solid transparent;
}

.projects-item:hover{
    border: 2px solid #ca9335;
    transform: scale(1.03);
}

.projects-item img{
    margin-left: 10px;
    border-radius: 10px;
    width: 120px;
    height: auto;
    object-fit: cover;
}

/* ----------EXPERIENCES---------- */
.experiences{
    scroll-margin-top: 100px;
}

.experiences h1{
    margin-bottom: 25px;
    margin-top: 50px;
    font-size: 50px;
    color: #ca9335;
}

.contents{
    margin-right: 50px;
}

.child{
    margin: 20px 20px 20px 0 ;
    color: #5f410d;
}

.contents .parent{
    color:#ca9335;
    font-size: 20px;
    font-weight:bold;
    list-style-image: url(technologies/bullet1.png);
}

.contents .child{
    list-style-image: url(technologies/bullet2.png);
}

/* ----------SKILLS---------- */
.skills{
    scroll-margin-top: 100px;
}

.skills h1{
    margin-bottom: 15px;
    margin-top: 50px;
    font-size: 50px;
    color: #ca9335;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px 0;
    
}

.skills-container .card {
    background-color: transparent;
    height: 200px;
    perspective: 1000px;
}

.skills-container .content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.skills-container .card:hover .content {
    transform: rotateX(180deg);
}

.skills-container .front,
.skills-container .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.skills-container .front {
    background: #efeee9;
    border: 3px solid #ca9335;
    color: #ca9335;
}

.skills-container .back {
    background: #ca9335;
    
    color: white;
    transform: rotateX(180deg);
}

.skills-container .front h4,
.skills-container .back h5 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.skills-container .back p {
    font-size: 13px;
    text-align: center;
    margin: 10px 0 0 0;
    max-width: 90%;
}

/* ----------CONTACT---------- */
.contact{
    scroll-margin-top: 100px;
    margin-bottom: 100px;
}

.contact h1{
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 50px;
    color: #ca9335;
}

form{
    gap: 13px;
}

form, .named, .emaild, .messaged{
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 15;
    margin: 13px 0;
    color: #5f410d;
}

form input{
    font-size: 15px;
}

form input,
form textarea {
    padding: 13px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: border 0.3s ease;
}
form input:hover,
form input:focus{
    border: 2px solid #ca9335;
    outline: none;
}

form textarea:hover,
form textarea:focus {
    border: 2px solid #ca9335;
    outline: none;
}

form textarea{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    height: 80px;
}

form .button{
    align-self: flex-end;
    padding: 13px 0;
    
}

.button .send {
    color: #efeee9;
    padding: 14px 40px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ca9335;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0px 5px 1px 1px #553806;
    transition: all 0.2s ease;
    position: relative;
    top: 0;
}

.button .send:hover {
    top: -2px;
    box-shadow: 0px 7px 1px 1px #553806;
}

.button .send:active {
    top: 3px;
    box-shadow: 0px 2px 1px 1px #553806;
}



